/* ----- ESSENTIALS ----- COPY N' PASTED ----- */
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}
.container::after {
    content: "";
    clear: both;
    display: table;
}
.container > * {
    float: left;
}
/* ----- ESSENTIALS ----- COPY N' PASTED ----- */



/* ----- TOP CHUNGUS ----- */
#topChungus {
    width: 100vw;
    float: left;
}
/* ----- TOP CHUNGUS ----- */



#leftChungus {
    width: 50vw;
    float: left;
}

.superBoton {
    user-select: none;
    padding: 8px;
    width: 100%;
    background-color: black;
    color: white;
}

.superBoton:hover {
    cursor: pointer;
}

.actuallyButtons > div {
    padding: 5px;
    user-select: none;
    width: 100%;
    display: none;
}

.actuallyButtons > div > span:first-child {
    color: #DD2222;
    font-weight: 600;
}

.actuallyButtons > div > span:first-child:hover { /* bruh. */
    cursor: pointer;
}

#rightChungus {
    width: 50vw;
    float: left;
}
